<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/customstyle.css">
  </head>

  <body>
    <header>
      <!-- place navbar here -->
    </header>
    <main>
<form id="contForm">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="ch1 d-flex align-items-center justify-content-center">
                    <h2>Contact Seller</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating my-3">
                    <input type="name" class="form-control" id="name" placeholder="name@example.com">
                    <label for="name" class="form-label fw-bold">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="email" class="form-label fw-bold">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="car" placeholder="name@example.com">
                    <label for="car" class="form-label fw-bold">Car</label>
                </div>
                <div class="form-floating mb-3">
                      <textarea class="form-control" name="message" id="message" placeholder="Leave a comment here"  rows="3"></textarea>
                      <label for="message" class="form-label fw-bold">Message</label>

                </div>
                <button type="submit" class="btn w-100">Submit</button>
            </div>
        </div>
    </div>
</form>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
