@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Font Sizes Variables */
/*=================================================*/
.qty_count {
  width: 50px;
  position: relative;
}
.qty_count input {
  width: 100%;
}

.overview {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overview span {
  font-size: 65px;
  font-weight: bold;
  font-weight: 800;
  color: #183ea4;
}
.overview p {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}
.overview .img_overview {
  width: 30px;
  margin: 0% auto;
}

#testimonial_background {
  width: 100%;
  background: url("../images/pexels-marcelo-verfe-12954767.jpg"), radial-gradient(#444, #111);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pager-hide-text nav div:nth-child(1) {
  display: none;
}
.pager-hide-text nav div.pagination {
  justify-content: space-evenly !important;
}

#thapelo {
  margin: 10px 0px;
}

.smalltxt {
  color: #183ea4;
}

.bigtxt {
  color: #22C55E;
}

.homecard {
  min-height: 200px;
  width: 200px;
  position: relative;
  padding: 20px 0 0 0;
}
.homecard .editwrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  justify-content: end;
}
.homecard .editwrapper svg {
  width: 25px;
  margin: 10px auto;
}
.homecard .svgwrapper svg {
  width: 60px;
  margin: 10px auto;
}

.commcard {
  min-height: 200px;
  width: 250px;
  position: relative;
  padding: 20px 0;
}
.commcard .editwrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  justify-content: end;
}
.commcard .editwrapper svg {
  width: 25px;
  margin: 10px auto;
}
.commcard .svgwrapper svg {
  width: 60px;
  margin: 10px auto;
}

.cardbody {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.newhousecard {
  width: 100%;
  height: 190px;
}

.housecard.house {
  width: 100%;
  height: 190px;
}
.housecard.house div:nth-child(1) {
  height: 50%;
  overflow: hidden;
}
.housecard.house div:nth-child(2) {
  height: 20%;
}
.housecard.house div:nth-child(3) {
  height: 30%;
}

.jumbotron {
  height: 500px;
}
.jumbotron .landinglogo {
  position: absolute;
  height: 100%;
  right: 100px;
  top: 0;
  bottom: 0;
  z-index: 9;
  width: 350px;
}

.owl-carousel#headercara {
  height: 100%;
}
.owl-carousel#headercara div.owl-stage-outer {
  height: 100%;
}
.owl-carousel#headercara div.owl-stage-outer div.owl-stage {
  height: 100%;
}
.owl-carousel#headercara div.owl-stage-outer div.owl-stage div.owl-item {
  height: 100%;
  width: 100vw;
}
.owl-carousel#headercara div.owl-stage-outer div.owl-stage div.owl-item .black-overlay::before {
  content: "";
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.owl-carousel#headercara div.owl-stage-outer div.owl-stage div.owl-item .hero-content {
  color: #fff;
  z-index: 999;
  margin: 0 auto;
}
.owl-carousel#headercara div.owl-stage-outer div.owl-stage div.owl-item .hero-content #services li p {
  padding: 0;
  margin: 0;
}
.owl-carousel#headercara div.owl-stage-outer div.owl-stage div.owl-item .hero-content .topTitle,
.owl-carousel#headercara div.owl-stage-outer div.owl-stage div.owl-item .hero-content .h1Title,
.owl-carousel#headercara div.owl-stage-outer div.owl-stage div.owl-item .hero-content .btmTitle {
  justify-content: center;
  font-size: 18px;
}
.owl-carousel#headercara div.owl-stage-outer div.owl-stage div.owl-item .hero-content .h1Title {
  font-size: 10vw;
  color: #22C55E !important;
  font-weight: 900;
  font-size: 3rem;
}
.owl-carousel#headercara div.owl-stage-outer div.owl-stage div.owl-item .hero-content .btn:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.owl-carousel.towl {
  background-color: red;
  width: 100%;
  max-width: 500px; /* Set a fixed width for the carousel */
  margin: 0 auto; /* Center the carousel within the parent container */
}
.owl-carousel.towl div.owl-stage-outer {
  height: 100%;
}
.owl-carousel.towl div.owl-stage-outer div.owl-stage {
  height: 100%;
}
.owl-carousel.towl div.owl-stage-outer div.owl-stage div.owl-item {
  height: 100%;
  width: 100vw;
}

.image-upload-box {
  height: 120px;
  border-width: 2px;
  border-style: dashed;
  position: relative;
}
.image-upload-box .image-upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-upload-box .placeholder-text {
  text-align: center;
  font-size: 14px;
}
.image-upload-box .placeholder-text svg {
  width: 24px;
  height: 24px;
}

#hitparent .phonepicwrap .hitwrapper div {
  margin-bottom: 10px;
}
#hitparent .phonepicwrap .hitwrapper div .instring {
  border: 3px solid black;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.instring {
  border: 3px solid black;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

/* Styling input radio button */
#radioParent .radionBtns {
  position: absolute;
  bottom: 0;
}

#regularwrap,
#weekDiv {
  display: none;
}

#profile,
.img-container {
  display: none;
}

.showdiv {
  display: block !important;
}

/* End */
.adminPanelButton {
  height: 100px;
  line-height: 100px;
}

.radioBoxparent input[type=radio] {
  display: none;
}
.radioBoxparent label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.radioBoxparent label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #22C55E;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 2;
}
.radioBoxparent label img {
  height: auto;
  width: auto;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
.radioBoxparent :checked + label {
  border-color: #22C55E;
}
.radioBoxparent :checked + label:before {
  content: "✓";
  background-color: #22C55E;
  transform: scale(1);
}
.radioBoxparent :checked + label img {
  transform: scale(0.9);
  z-index: -1;
}

.checkboxparent input[type=checkbox] {
  display: none;
}
.checkboxparent label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.checkboxparent label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #22C55E;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 2;
}
.checkboxparent label img {
  height: auto;
  width: auto;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
.checkboxparent :checked + label {
  border-color: #22C55E;
}
.checkboxparent :checked + label:before {
  content: "✓";
  background-color: #22C55E;
  transform: scale(1);
}
.checkboxparent :checked + label img {
  transform: scale(0.9);
  z-index: -1;
}

.extraservdiv input[type=checkbox][id^=service] {
  display: none;
}
.extraservdiv label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.extraservdiv label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #22C55E;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 2;
}
.extraservdiv label img {
  height: auto;
  width: auto;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
.extraservdiv :checked + label {
  border-color: #22C55E;
}
.extraservdiv :checked + label:before {
  content: "✓";
  background-color: #22C55E;
  transform: scale(1);
}
.extraservdiv :checked + label img {
  transform: scale(0.9);
  z-index: -1;
}

div.sticky {
  position: sticky;
  top: 0;
}

@media only screen and (min-width: 600px) {
  #thapelo {
    margin: 10px;
  }
  .housecard.house {
    width: 100%;
    height: 190px;
  }
  .housecard.house div:nth-child(1) {
    height: 50%;
  }
  .housecard.house div:nth-child(2) {
    height: 30%;
  }
  .housecard.house div:nth-child(3) {
    height: 20%;
  }
}
/* ==================================== services header Styling ==================================== */
.primary-title {
  font-size: 3rem;
  font-size: clamp(1rem, 5vw + 1rem, 4.5rem);
  line-height: 2;
}

#service-hero {
  color: white;
  padding: 10em 0;
  background: #222;
  font-weight: bold;
}

@supports (background-blend-mode: multiply) {
  #service-hero {
    background: url("../images/landing-page/Hardware.jpg"), radial-gradient(#aaa, #fff);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
#career-mapping-hero {
  color: white;
  padding: 10em 0;
  background: #222;
  font-weight: bold;
}

@supports (background-blend-mode: multiply) {
  #career-mapping-hero {
    background: url("../images/landing-page/career-goals.jpg"), radial-gradient(#444, #aaa);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
#contact-hero {
  color: white;
  padding: 10em 0;
  background: #222;
  font-weight: bold;
}

@supports (background-blend-mode: multiply) {
  #contact-hero {
    background: url("../images/landing-page/Meeting.jpg"), radial-gradient(#444, #aaa);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
.hero {
  --clr-accent: #faa700;
}

/* ==================================== about header Styling ==================================== */
.primary-title {
  font-size: 3rem;
  font-size: clamp(1rem, 5vw + 1rem, 4.5rem);
  line-height: 1;
}

.banner {
  color: white;
  padding: 10em 0;
  background: #222;
  font-weight: bold;
}

#about-hero {
  color: white;
  padding: 10em 0;
  background: #222;
  font-weight: bold;
}

@supports (background-blend-mode: multiply) {
  #about-hero {
    background: url("../images/landing-page/Keyboard.jpg"), radial-gradient(#aaa, #fff);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    --clr-accent: #faa700;
  }
}
#team_background {
  width: 100%;
  background: url("../images/bg_dark.jpg"), radial-gradient(#444, #111);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#our-services {
  width: 100%;
  background: url("../images/Big Zee.jpg"), radial-gradient(#444, #111);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.pic-2 {
  height: auto;
  width: 612px;
}

@media screen and (max-width: 700px) {
  .pic-2 {
    flex-basis: 100%;
    max-width: 100%;
    height: auto; /* add this line to set the maximum height of the image*/
  }
}
.services .card {
  height: 250px; /* Set a fixed height for each card */
}

.services .card-img {
  height: 100%; /* Make the image fill the entire height of the card */
  -o-object-fit: cover;
     object-fit: cover; /* Scale the image while maintaining its aspect ratio */
}

#culture .card {
  height: 250px; /* Set a fixed height for each card */
}

#culture .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

#contact-socials {
  color: #22C55E !important;
}

#white-text {
  color: #ffffff !important;
}

#black-text {
  color: #000000 !important;
}

#footertxt-white {
  color: #ffffff !important;
}

#footertxt-white:hover {
  color: #1e9a13 !important;
  text-decoration-line: underline;
}

#footer-underline {
  display: block;
  width: 10%;
  border-bottom: 2px solid white; /* set the thickness and color of the underline */
}

@media screen and (max-width: 767px) {
  /* hide the image when screen size is less than or equal to 767px */
  #company img {
    display: none;
  }
}
#dark-g-text {
  color: #1e9a13 !important;
}

* {
  font-family: "Montserrat", sans-serif;
}

#terms ul {
  list-style-type: circle;
  color: black;
}

#viewsubservice {
  /* Style for the table body */
}
#viewsubservice tbody td {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

#services-services .card::before {
  content: ""; /*change*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* change the opacity value to adjust the darkness */
}

#blog-page .blog .card {
  height: 400px; /* Set a fixed height for each card */
  overflow: hidden;
}
#blog-page .blog .card-img {
  height: 200px; /* Make the image fill the entire height of the card */
  -o-object-fit: cover;
     object-fit: cover; /* Scale the image while maintaining its aspect ratio */
}

footer {
  position: relative;
  background: #3bde77;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1.5px;
  width: 100%;
  background: #00C050;
}

footer .footer-content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

footer .footer-content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-content .top .logo-details {
  color: #fff;
  font-size: 30px;
}

.footer-content .top .media-icons {
  display: flex;
}

.footer-content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #fff;
  color: #000000;
}

.top .media-icons a:nth-child(1):hover {
  color: #ffffff;
  background: #4267B2;
}

.top .media-icons a:nth-child(2) {
  background: #fff;
  color: #000000;
}

.top .media-icons a:nth-child(2):hover {
  background: #E1306C;
  color: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #fff;
  color: #000000;
}

.top .media-icons a:nth-child(3):hover {
  background: #1DA1F2;
  color: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #fff;
}

.top .media-icons a:nth-child(4):hover {
  color: #0077B5;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #fff;
}

.top .media-icons a:nth-child(5):hover {
  color: #FF0000;
  background: #fff;
}

footer .footer-content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .footer-content .link-boxes .box {
  width: calc(20% - 10px);
}

.footer-content .link-boxes .box .link_name {
  color: #183ea4;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.footer-content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.footer-content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.footer-content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
  color: #254522;
  /*current*/
}

.footer-content .link-boxes .input-box {
  margin-right: 55px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #fff;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}

.link-boxes .input-box input::-moz-placeholder {
  color: #AFAFB6;
  font-size: 16px;
}

.link-boxes .input-box input::placeholder {
  color: #AFAFB6;
  font-size: 16px;
}

.link-boxes .input-box input[type=button] {
  font-size: 18px;
  background: #64bc5c;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}

.input-box input[type=button]:hover {
  background: #000;
  border: 1px solid #4070f4;
}

footer .bottom-details {
  width: 100%;
  background: #22C55E;
  /*changes*/
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
  color: #64bc5c;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer .footer-content .link-boxes {
    flex-wrap: wrap;
  }
  footer .footer-content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .footer-content .top .logo-details {
    font-size: 26px;
  }
  .footer-content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .footer-content .link-boxes .box {
    width: calc(33.3333333333% - 10px);
  }
  footer .footer-content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .footer-content .top {
    flex-direction: column;
  }
  .footer-content .top .media-icons {
    margin-top: 16px;
  }
  footer .footer-content .link-boxes .box {
    width: calc(50% - 10px);
  }
  footer .footer-content .link-boxes .input-box {
    width: 100%;
  }
}
.top .media-icons a:nth-child(4) {
  background: #fff;
  color: #000000;
}

.top .media-icons a:nth-child(4):hover {
  background: #FF0000;
  color: #fff;
}

.viewblog {
  width: 80%;
  margin: 50px;
  font-size: 1.25rem;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: justify;
  overflow: visible;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: none;
}/*# sourceMappingURL=style.css.map */